html
    head
        title Idol Curry Generator
        link(rel='stylesheet', href='curry.css')
        meta(charset='UTF-8')
        meta(name='twitter:card' content='')
    body
        h1 Idol Curry Generator
        #frame
            div#portrait
            #name-container.cute
                span#name(contenteditable='true') 島村卯月
                span#type ＜Cute＞
            input.profile#furigana(value='しまむらうづき')
            input.profile#height(value='159cm')
            input.profile#age(value='17歳')
            input.profile#weight(value='44kg')
            input.profile#dob(value='4月24日')
            input.profile#blood(value='O')
            input.profile#hand(value='右')
            input.profile#three(value='83/58/87')
            input.profile#stellar(value='牡牛座')
            input.profile#birthplace(value='東京')
            input.profile#hobby(value='友達と長電話')
            input.profile#cv(value='大橋彩香')
            #comment-container
                textarea#comment
                    | コメント欄は５行くらいまで
                    | 入力できるようだ。ジャスティス！

        ul#help
            li 最新版のデスクトップブラウザ以外での動作は確認していません。
            li 編集したデータの保存機能などは一切ないのでOSの機能でスクリーンショットを撮ってください。

        input(type='file')#file-selector

        script(src='https://use.typekit.net/rvo8koj.js')
        script(src='curry.js')
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-104536447-1', 'auto');
            ga('send', 'pageview');
